{% extends "base.html" %}
{% block head %}

{% block title %}{% endblock %}

{% endblock %}

{% block body %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-12 default_cursor_cs">
                <h1 class="text-center text-white"></h1>
                <div class="itd_play" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="itd_triangle"></div>
                </div>
                <a href="#footer" class="btn btn-itd btn-lg text-uppercase default_pointer_cs"></a>
            </div>
        </div>
    </div>
</header>

<main>
    {% for product in products %}
    <div class="product-card">
        <img src="{{url_for('static', filename='/img/1.jpg')}}" alt="Товар 1">
        <div class="product-title">{{ product.name }}</div>
        <div class="product-price">{{ product.price }}</div>
        <button><a href="https://web.telegram.org/a/#6226396360">Купити</a></button>
    </div>
    {% endfor %}
</main>

{% endblock %}
